<br>
<br>
<h1>EDIT MOVIE</h1>
<br>

<div class="card border-warning mb-3" style="max-width: 40rem;">
  <div class="card-header">Pelicula</div>
  <div class="card-body">
    <%= render "form", movie: @movie %>
  </div>
</div>
