<br>
<br>
<h1>NEW MOVIE</h1>


<div class="card border-warning mb-3" style="max-width: 40rem;">
<div class="card-header">Pelicula</div>
<div class="card-body">
  <%= render "form", movie: Movie.new %>
</div>
</div>
